<div class="card-img">
	<img src="{{{ CardImg }}}">
</div>

<div class="card-info">
	<div><span>Amount: </span> ${{{ Amount }}}  {{{ isPlastic(Delivery.DeliveryType, Shipment.ShippingOption.Cost) }}}</div>
	<div><span>Quantity: </span> {{{ Quantity }}}</div>
	<div><span>To: </span> {{{ Delivery.Persons[0].Name }}}</div>
	<div><span>Delivery type: </span> {{{ Delivery.DeliveryType }}}</div>
	<div><span>Delivery date: </span> {{{ Delivery.DeliveryDate }}}</div>
</div>
<div class="card-nav">
	<a href="javascript:void(0)" class="cart-button delete" title='Delete card'></a>
	<a href="javascript:void(0)" class="cart-button edit" title='Edit card'></a>
</div>