<div class="card-img">
	<img src="{{{ CardImg }}}">
</div>

<div class="card-info">
	<div><span>Montant: </span> {{{ Amount }}} $ {{{ isPlastic(Delivery.DeliveryType, Shipment.ShippingOption.Cost) }}}</div>
	<div><span>Quantité: </span> {{{ Quantity }}} </div>
	<div><span>À: </span> {{{ Delivery.Persons[0].Name }}} </div>
	<div><span>Envoi: </span> {{{ Delivery.DeliveryType }}} </div>
</div>
<div class="card-nav">
	<a href="javascript:void(0)" class="cart-button delete" title='Effacer'></a>
	<a href="javascript:void(0)" class="cart-button edit" title='Modifier'></a>
</div>