<div id="wrapper" class="receipt">
	<header>
		<hgroup>
			<h1>{{{ MerchantName }}}</h1>
			<h2>Thank you for placing your order</h2>
		</hgroup>
			
	</header>
							
	<div id="message">
		<p>
			<span class="bold"></span> Your order number is <span class="bold">{{{ OrderNumber }}}</span>. It will be processed shortly and once completed: 
		</p>
		<div class="action">
			1. A receipt will be sent to <span class="bold">{{{ PurchaserName }}}</span> at {{{ PurchaserEmail }}}.
		</div>
		<div class="action">
			{{#if_multi Cards.length}}
				<span>2. The gift cards and details on how to use them will be sent to: </span> 
			{{ else}}
				<span>2. The gift card and details on how to use it will be sent to:</span>
			{{/if_multi}}
			
			{{#each Cards}}
			<p class="name-address">
				{{#if_eq DeliveryType "plastic"}}
					<span class="bold">{{{ RecipientName }}} </span>
					{{#if ShippingAddress }}
						at {{{ ShippingAddress }}} 
					{{/if}}
					{{#if DeliveryDate }}
					on {{{ DeliveryDate }}}
					
					{{/if}}
				{{/if_eq}}
				{{#if_eq DeliveryType "email"}}
					<span class="bold">{{{ RecipientName }}} </span>
					{{#if ShippingAddress }}
						at {{{ ShippingAddress }}} 
					{{/if}}
					{{#if DeliveryDate }}
					on {{{ DeliveryDate }}}
					
					{{/if}}
				{{/if_eq}}
				{{#if_eq DeliveryType "sms"}}
					<span class="bold">{{{ RecipientName }}} </span>
					will receive an sms message
					{{#if DeliveryDate }}
						on {{{ DeliveryDate }}}
					
					{{/if}}
				{{/if_eq}}
				{{#if_eq DeliveryType "print"}}
					<span class="bold">{{{ ../../PurchaserName }}} </span>
						at {{{ ../../PurchaserEmail }}} 
					{{#if DeliveryDate }}
					on {{{ DeliveryDate }}}
					
					{{/if}}
				{{/if_eq}}

			</p>	
			{{/each}}
		</div>
		
	</div>

	<footer>
		<div id='sub-footer'>
			<p>
				If you have any questions or require further assistance, please email us at {{{ SupportEmail }}} or call us at {{{ SupportPhone }}}.
			</p>
		</div>
		
		<div class="pages-nav">
			<a href="javascript:window.print()" class='button continue-button no-icon'>
				<span>Print</span>
			</a>
		</div>
	</footer>
</div>