<div id="wrapper" class='receipt'>
	<img src="http://www.buyatab.com/gcp/view/template/default/images/watermark.png" id='watermark'>
	<header>
		<hgroup>
			<h1>{{{ MerchantName }}}</h1>
			<h2>Transaction Receipt</h2>
		</hgroup>
		<div id='sub-title'>
			<div class="sub-left">
				<h2>Sold to:</h2>
				<div>
					<span>{{{ PurchaserName }}}</span>
					{{#unlessCond PaymentMethod "Prepaid"}}
						<span>{{{ AddressLine1 }}}</span>
						<span>{{{ AddressLine2 }}}</span>
					{{/unlessCond}}
					<span>{{{ PurchaserEmail }}}</span>					
				</div>
			</div>
			<div class="sub-right">
				<h2>Order ID</h2>
				<div class='bold'> #{{{ OrderNumber }}} </div>
			</div>
		</div>		
	</header>

	<div id="items">
		<h2>Items</h2>

		<ul id="items-detail">
			{{#each Cards}}
				<li>
					<div class="card-img">
						{{#if CardImagename }}
							<img src="{{{ CardImagename }}}" />
						{{else}}
							<img src="" />
						{{/if}}
					</div>

					<div class="first-column">
						<div>
							<span class='bold'>Quantity: </span> {{{ Quantity }}} 
						</div>
						<div>
							<span class='bold'>Card Id: </span> #{{{ Id }}} 
						</div>
						<div>
							<span class='bold'>To: </span> {{{ RecipientName }}} 
						</div>
					</div>
					<div class="second-column">
						<div>
							<span class='bold'>Delivery type: </span> {{{ DeliveryType }}} 
						</div>
						{{#if DeliveryDate }}
						<div>
							<span class='bold'>Purchase date: </span> {{{ DeliveryDate }}}
						</div>
						{{/if}}

						{{#if ShippingAddress }}
						<div>
							<span class='bold'>Address: </span> {{{ ShippingAddress }}} 
						</div>
						{{/if}}

					</div>
					<div class="third-column">
						{{#if Amount}}
						<div>
							<span class='bold'>Subtotal: </span> {{{curr ../../Language Amount ../../CurrencySign}}} 
						</div>
						{{/if}}
						
						{{#if Amount}}
						<div>
							<span class='bold'>Total: </span> {{{ extended ../../Language this ../../CurrencySign }}}</div>
						{{/if}}

						{{#if ShippingAmount}}
						<div>
							<span class='bold'>Shipping amount: </span> {{{ curr ../../Language ShippingAmount ../../CurrencySign}}} 
						</div>
						{{/if }}
					</div>
				</li>
			{{/each}}

		</ul>

		<div id="summary">
			<div id="sub-summary">
				<div class="subtotal">
					<span class='ta-right'>Subtotal: </span>
					<span class="value">{{{sub this}}}</span>
				</div>

				<div class="subtotal">
					<span class='ta-right'>Shipping: </span>
					<span class="value">{{{shipping this}}}</span>
				</div>

				{{#if AddCharge }}
				<div class="subtotal">
					<span class='ta-right'>Additional: </span>
					<span class="value">{{{ curr this.Language AddCharge CurrencySign}}}</span>
				</div>
				{{/if}}

				{{#if DiscountAmount }}
				<div class="subtotal">
					<span class='ta-right'>Discount: </span>
					<span class="value">{{{curr this.Language DiscountAmount CurrencySign}}}</span>    
				</div>
				{{/if}}
			</div>	
			<div id="total-summary">
				<div class="total">
					<span class='ta-right'>Total: </span>
					{{#ifCond PaymentMethod "Prepaid" }}
						<span class="value">{{{ curr_zero this.Language CurrencySign }}}</span>
					{{ else}}
						<span class="value">{{{total this}}}</span>
					{{/ifCond}}
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div id='sub-footer'>
			<div class="sub-left">
				<div>
				<div><span class='bold'>Cardholder: </span>{{{ NameOnCard }}}</div>
				<div><span class='bold'>Payment method: </span>{{{ PaymentMethod }}}</div>
				<div><span class='bold'>Card number: </span>{{{ CardNumber }}}</div>
				</div>
			</div>
			<div class="sub-right">
				{{#if Date }}
				<div><span class='bold'>Date: </span>{{{ Date }}}</div>
				{{/if}}
				<div>{{#ifCond PaymentMethod "Prepaid" }}
						<span class='bold'>Total amount paid: </span>{{{ curr_zero this.Language CurrencySign }}}
					{{ else}}
						<span class='bold'>Total amount paid: </span>{{{total this}}}
					{{/ifCond}}
				</div>
			</div>
		</div>	

		<div class='note'><span class='bold'>Note: </span>This purchase will display on your credit card/bank statement as "E-Gift”.
			{{#if HasBonus }}
				<p>Bonus card(s) have been created and will be delivered in addition to the gift card purchased.</p>
			{{/if}}
		</div>

		<div class="pages-nav">
			<a href="javascript:window.print()" class='button continue-button no-icon'>
				<span>Print</span>
			</a>
		</div>

		<div class="customer-service">
			<div><span class='bold'>e-support: </span>{{{ SupportEmail }}}</div>
			<div><span class='bold'>phone: </span><a href="tel:{{{ SupportPhone }}}">{{{ SupportPhone }}}</a></div>
		</div>
	</footer>

</div>