<div id="wrapper" class='receipt'>
	<img src="view/template/default/images/watermark.png" id='watermark'>
	<header>
		<hgroup>
			<h1>{{{ MerchantName }}}</h1>
			<h2>Reçu de la transaction</h2>
		</hgroup>
		<div id='sub-title'>
			<div class="sub-left">
				<h2>Vendu pour:</h2>
				<div>
					<span>{{{ PurchaserName }}}</span>
					{{#unlessCond PaymentMethod "Prepaid"}}
						<span>{{{ AddressLine1 }}}</span>
						<span>{{{ AddressLine2 }}}</span>
					{{/unlessCond}}
					<span>{{{ PurchaserEmail }}}</span>					
				</div>
			</div>
			<div class="sub-right">
				<h2>Numéro de commande</h2>
				<div class='bold'> #{{{ OrderNumber }}} </div>
			</div>
		</div>		
	</header>

	<div id="items">
		<h2>Articles</h2>

		<ul id="items-detail">
			{{#each Cards}}
				<li>
					<div class="card-img">
						{{#if CardImagename }}
							<img src="{{{ CardImagename }}}" />
						{{else}}
							<img src="view/template/default/cards/small/G03.jpg" />
						{{/if}}
					</div>

					<div class="first-column">
						<div>
							<span class='bold'>Quantité: </span> {{{ Quantity }}} 
						</div>
						<div>
							<span class='bold'>Carte Id: </span> #{{{ Id }}} 
						</div>
						<div>
							<span class='bold'>À: </span> {{{ RecipientName }}} 
						</div>
					</div>
					<div class="second-column">
						<div>
							<span class='bold'>Type d'envoi: </span> {{{ DeliveryType }}} 
						</div>
						{{#if DeliveryDate }}
						<div>
							<span class='bold'>Date d'achat: </span> {{{ DeliveryDate }}}
						</div>
						{{/if}}

						{{#if ShippingAddress }}
						<div>
							<span class='bold'>Adresse: </span> {{{ ShippingAddress }}} 
						</div>
						{{/if}}

					</div>
					<div class="third-column">
						{{#if Amount}}
						<div>
							<span class='bold'>Montant: </span> {{{curr ../../Language Amount ../../CurrencySign}}} 
						</div>
						{{/if}}
						
						{{#if Amount}}
						<div>
							<span class='bold'>Extended: </span> {{{ extended ../../Language this  ../../CurrencySign}}}</div>
						{{/if}}

						{{#if ShippingAmount}}
						<div>
							<span class='bold'>Montant de livraison: </span>{{curr ../../Language ShippingAmount ../../CurrencySign}}
						</div>
						{{/if }}
					</div>
				</li>
			{{/each}}

		</ul>

		<div id="summary">
			<div id="sub-summary">
				<div class="subtotal">
					<span class='ta-right'>Total partiel: </span>
					<span class="value">{{{sub this}}}</span>
				</div>

				<div class="subtotal">
					<span class='ta-right'>Livraison: </span>
					<span class="value">{{{shipping this}}}</span>
				</div>

				{{#if AddCharge }}
				<div class="subtotal">
					<span class='ta-right'>Additionnelle: </span>
					<span class="value">{{{ curr this.Language AddCharge CurrencySign}}}</span>
				</div>
				{{/if}}

				{{#if DiscountAmount }}
				<div class="subtotal">
					<span class='ta-right'>Réduction: </span>
					<span class="value">{{{curr this.Language DiscountAmount CurrencySign}}}</span>    
				</div>
				{{/if}}
			</div>	
			<div id="total-summary">
				<div class="total">
					<span class='ta-right'>Total: </span>
					{{#ifCond PaymentMethod "Prepaid" }}
						<span class="value">{{{ curr_zero this.Language CurrencySign }}}</span>
					{{ else}}
						<span class="value">{{{total this}}}</span>
					{{/ifCond}}
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div id='sub-footer'>
			<div class="sub-left">
				<div>
				<div><span class='bold'>Titulaire: </span>{{{ NameOnCard }}}</div>
				<div><span class='bold'>Mode de paiement: </span>{{{ PaymentMethod }}}</div>
				<div><span class='bold'>Numéro de la carte: </span>{{{ CardNumber }}}</div>
				</div>
			</div>
			<div class="sub-right">
				{{#if Date }}
				<div><span class='bold'>Date: </span>{{{ Date }}}</div>
				{{/if}}
				<div>{{#ifCond PaymentMethod "Prepaid" }}
						<span class='bold'>Montant total payé:  </span>{{{ curr_zero this.Language CurrencySign }}}
					{{ else}}
						<span class='bold'>Montant total payé:  </span>{{{total this}}}
					{{/ifCond}}
				</div>
			</div>
		</div>	

		<div class='note'><span class='bold'>Notez: </span>Cet achat apparaîtra sur votre relevé de carte / crédit bancaire comme «e-Gift».
			{{#if HasBonus }}
				<p>La Carte bonus a été créé et sera délivrée avec la Carte préalablement achetée.</p>
			{{/if}}
		</div>

		<div class="pages-nav">
			<a href="javascript:window.print()" class='button continue-button'>
				<span>Imprimer</span>
			</a>
		</div>

		<div class="customer-service">
			<div><span class='bold'>e-support: </span>{{{ SupportEmail }}}</div>
			<div><span class='bold'>téléphone: </span><a href="tel:{{{ SupportPhone }}}">{{{ SupportPhone }}}</a></div>
		</div>
	</footer>

</div>