{{! <!-- the 'wrapper' holds everything together --> }}
<div id='wrapper'>
	{{! <!-- Preview Window --> }}
	<div id='preview-window-bg'>
		<div id='preview-window'>
			<img id='preview-image' src=''>
			<span id="pw-close">x</span>
			<span id="pw-value"></span>
			<span id="pw-message"></span>
		</div>			
	</div>
	{{! <!-- Preview Window end --> }}
	{{! <!-- Content --> }}
	<div id='content'> 	

		{{!  <div id="selected_image"></div> }}

		{{! <!-- Pages Wrapper --> }}
		<div id='pages-wrapper'>

			{{! <!-- Status bar --> }}
			<header>
			</header>
			{{! <!-- Status bar end --> }}

			<ul id="pages" class="bp-fileds">

				{{! <!-- Page 1 (customize card(s) ) --> }}
				<li id='customize' class='validate' data-step='step1'>
					
					{{! <!-- Fields --> }}
					<ul class='fields'>
						{{! <!-- Card info --> }}

						<li id='customize_card' class='tab-group'>

							{{! <div id="selected_image"></div> }}
							<div class="choose-card"></div>
							<div class="notch"></div>

							{{! <!-- BP custom field wrapper -- > }}
							<div class="bd-custom-field-wrap"> 

								{{! <!-- Card selector --> }}

								{{! Top Image Wrap }}
								<figure id='image-wrap'></figure>
								{{! Top Image Wrap end }}				

								<div id='card-selector' class='hide-fields'>
									{{! Top Image Wrap }}
									<div id='image-wrap'></div>
									{{! Top Image Wrap end }}

									<div class='field-left hide-fields'>
										{{! <!-- Card image. on click shows the carousel --> }}
										<div class='choose-card'><span>{{{customize.text.change_card}}}</span></div>
										{{! <!-- Default value = 1 > chainID/images/card/1.png --> }}
										<input type="hidden" name='card_design' id='card_design'>
										<input type="hidden" name='card_src' id='card_src'>
									</div>


									<div class='field-right'>
										<a class="hide-fields" href='javascript:void(0)' class='button change_design_bt'>
											<span>{{{customize.text.change_design_bt}}}</span>
										</a>
										<a class="hide-fields" href='javascript:void(0)' class='button preview_bt'>
											<span>{{{customize.text.preview_bt}}}</span>
										</a>
										<div class='quantity half-field'> {{! validation-error }}
											<label for='card_quantity'> {{{customize.label.quantity}}} </label>
											<div>
												<input type='text' name='card_quantity' id='card_quantity' class='quantity up-down-number number' value='1'> 
											</div>
											<div class='field-error'></div>
										</div>
									</div>
								</div>
								{{! <!-- Card selector end --> }}

								{{! <!-- Message field --> }}
								<h2 id='card-text'>{{{customize.text.bp-heading }}}</h2>
								<p>{{{customize.label.bp-message}}}</p>
								<div id="customize-data">
									<div class='field'>
										<div class='field-right full-field'>
											<div class='input-holder'>
												<textarea name='card_message' id='card_message' cols='30' rows='20' class='required bp-card_message message' placeholder='{{{customize.placeholder.message}}}'></textarea>
												<div class='field-error float-right'></div>
											</div>									
											<div class='field-detail visible'><div id='chars'></div>
											<div id='char-line'> {{{customize.detail.message}}} (</div>
											<div id='chars-lines'> </div> {{{customize.detail.message_lines}}} )</div>
										</div>
									</div>
									{{! <!-- Message field end --> }}

									{{! <!-- Ammount field --> }}
									<div class='field'>
										<div class='field-left'>
											<div>
												<label for='card_value' class='inline'> {{{customize.label.value}}} </label>
												<input type='text' name='card_value' id='card_value' class='inline required ammount number no-tab' placeholder='{{{customize.placeholder.value}}}'><span class='dollar-sign hide-fields'>$</span>
											</div>
											<div class='field-error q-error'></div>
										</div>
										<div class='field-right'>
											<div class='values-wrap hide-fields'>
												{{! <!-- Buttons with values here --> }}
											</div>
										</div>
									</div>
								</div>
							</div> 
							{{! <!-- BP custom field wrapper end --> }}

							{{! <!-- Ammount field end --> }}

							{{! <!-- Pages Navigation --> }}
							<div class="pages-nav customize-nav bp-cst-frst-page">
								<div class='group-error'></div>

								{{! <a href="javascript:void(0)" class='btn-back'>
									<span></span>
								</a> }}								
								<a href="javascript:void(0)" data-step='details' class='button continue-button go-to-delivery no-tab'>
									<span>{{{customize.text.go_to_delivery}}}</span>
								</a>
								<a href='javascript:void(0)' class='button preview_bt hide-fields'>
									<span>{{{customize.text.preview_bt}}}</span>
								</a>

							</div>
							{{! <!-- Pages Navigation end --> }}
						</li>
						{{! <!-- Card info end --> }}

						{{! <!-- Delivery info --> }}
						<li id='delivery-info' class='tab-group'>

							<input type="hidden" name='delivery_type' id='delivery_type' value='plastic'>

								{{! <!-- Delivery type content. It changes depending on the selection --> }}
								<ul id='delivery-content'>
									
									{{! <!-- Plastic delivery --> }}
									<li id='dc-plastic' data-dnature='plastic'>
										<div class="plastic-right">
											{{! Shipping options }}
											<div id="shipping-options">
												<h5>Sélectionnez la méthode de livraison:</h5>
												<div class="shipping-options">
													<div class="shipping-option so-selected">
														<input checked='checked' id="opt0" class="check" type="radio" alt="You must select one option" value="{|Cost|: |4.99|, |Type|: |Regular|}" name="sOpt">
														<label for="opt0">Service régulier</label>
														<span>3 à 7 jours ouvrables – 4,99 $</span>
													</div>
													<div class="shipping-option">
														<input id="opt1" class="check" type="radio" alt="You must select one option" value="{|Cost|: |15.99|, |Type|: |Express|}" name="sOpt">
														<label for="opt1">Express</label>
														<span>2 à 3 jours ouvrables – 15,99 $</span>
													</div>
												</div>

											</div>
											{{! Shipping options end}}

											{{! disclaimer }}
											<div id="shipping-disclaimer">
												{{{customize.plastic.text.disclaimer}}}
											</div>
											{{! disclaimer }}
										</div>
										<div class="plastic-left">
											<h5>{{{customize.plastic.text.page-heading}}}</h5>


											{{! <!-- Plastic shipment --> }}
											<div id="plastic-shipment"></div>


											{{! <!-- New shipment --> }}
											<div id="new-shipment">
												{{! <!-- Recipiente name field --> }}
												<div class='field'>
													{{! <!-- validation-error --> }}
													<div class='field-left'>
														<div>
															<label for='plastic_recipient_name'> {{{customize.plastic.label.recipient_name}}} </label>
														</div>
														<div class='field-error'></div>
													</div>
													<div class='field-right'>
														<div class='input-holder'>
															<input type='text' name='plastic_recipient_name' id='plastic_recipient_name' class='required name' placeholder='{{{customize.plastic.placeholder.recipient_name}}}'>
														</div>
														<div class='field-detail'> {{{customize.plastic.detail.recipient_name}}} </div>
													</div>
												</div>
												{{! <!-- Recipiente name field end --> }}


												{{! <!-- Address --> }}
												<div class='field'>
													<div class='field-left'>
														<div>
															<label for='plastic_address'> {{{customize.plastic.label.address}}} </label>
														</div>
														<div class='field-error'></div>
													</div>
													<div class='field-right'>
														<div class='input-holder'>
															<input type='text' name='plastic_address' id='plastic_address' class='required' placeholder='{{{customize.plastic.placeholder.address}}}'>
														</div>
														<div class='field-detail'> {{{customize.plastic.detail.address}}} </div>
													</div>
												</div>
												{{! <!-- Address end --> }}

												{{! <!-- Address2 --> }}
												<div class='field'>
													<div class='field-left'>
														<div>
															<label for='plastic_address2'> {{{customize.plastic.label.address2}}} </label>
														</div>
														<div class='field-error'></div>
													</div>
													<div class='field-right'>
														<div class='input-holder'>
															<input type='text' name='plastic_address2' id='plastic_address2' class='optional add2' placeholder='{{{customize.plastic.placeholder.address2}}}'>
														</div>
														<div class='field-detail'> {{{customize.plastic.detail.address2}}} </div>
													</div>
												</div>
												{{! <!-- Address2 end --> }}

												{{! <!-- city --> }}
												<div class='field'>
													<div class='field-left'>
														<div>
															<label for='plastic_city'> {{{customize.plastic.label.city}}} </label>
														</div>
														<div class='field-error'></div>
													</div>
													<div class='field-right'>
														<div class='input-holder'>
															<input type='text' name='plastic_city' id='plastic_city' class='required' placeholder='{{{customize.plastic.placeholder.city}}}'>
														</div>
														<div class='field-detail'> {{{customize.plastic.detail.city}}} </div>
													</div>
												</div>
												{{! <!-- city end --> }}

												{{! <!-- country --> }}
												<div class='field'>
													<div class='field-left'>
														<div>
															<label for='plastic_country'> {{{customize.plastic.label.country}}} </label>
														</div>
														<div class='field-error'></div>
													</div>
													<div class='field-right'>
														<div class='input-holder'>
															<select name='plastic_country' id='plastic_country' class='required' id="cc_country">

															</select>
														</div>
														<div class='field-detail'> {{{customize.plastic.detail.country}}} </div>
													</div>
												</div>
												{{! <!-- country end --> }}

												{{! <!-- state --> }}
												<div class='field'>
													<div class='field-left'>
														<div>
															<label for='plastic_state'> {{{customize.plastic.label.state}}} </label>
														</div>
														<div class='field-error'></div>
													</div>
													<div class='field-right'>
														<div class='input-holder'>
															<select name='plastic_state' id='plastic_state' class='required' id="cc_state">
																{{! <!-- <option selected="selected" value="0">   Select One   </option> --> }}
																<option value="52">Alberta</option>
																<option value="53">British Columbia</option>
																<option value="54">Manitoba</option>
																<option value="55">New Brunswick</option>
																<option value="56">Newfoundland</option>
																<option value="81">Northwest Territories</option>
																<option value="57">Nova Scotia</option>
																<option value="82">Nunavut</option>
																<option value="58">Ontario</option>
																<option value="59">Prince Edward Island</option>
																<option value="60">Quebec</option>
																<option value="61">Saskatchewan</option>
																<option value="83">Yukon</option> 
															</select>
														</div>
														<div class='field-detail'> {{{customize.plastic.detail.state}}} </div>
													</div>
												</div>
												{{! <!-- state date end --> }}

												{{! <!-- zip --> }}
												<div class='field'>
													<div class='field-left'>
														<div>
															<label for='plastic_zip'> {{{customize.plastic.label.zip}}} </label>
														</div>
														<div class='field-error'></div>
													</div>
													<div class='field-right'>
														<div class='input-holder'>
															<input type='text' name='plastic_zip' id='plastic_zip' class='required zip zipca no-tab' placeholder='{{{customize.plastic.placeholder.zip}}}'>
															<input type="hidden" id="plastic_shipping_option" class="required"/>
														</div>
														<div class='field-detail'> {{{customize.plastic.detail.zip}}} </div>
													</div>
												</div>
												{{! <!-- zip end --> }}

											</div>
											{{! <!-- end new-shipment --> }}
										</div>
									</li>
									{{! <!-- Plastic delivery end --> }}

									{{! <!-- Email delivery --> }}
									<li id='dc-email' class='validate' data-dnature='electronic'>
										<h5>{{{customize.email.text.page-heading}}}</h5>
										<p> {{{customize.email.text.page_info}}} </p>

										{{! <!-- Recipiente name field --> }}
										<div class='field'>
											{{! <!-- validation-error --> }}
											<div class='field-left bp-custom-label-width'>
												<div>
													<label for='email_recipient_name'> {{{customize.email.label.recipient_name}}} </label>
												</div>
												<div class='field-error'></div>
											</div>
											<div class='field-right'>
												<div class='input-holder'>
													<input type='text' name='email_recipient_name' id='email_recipient_name' class='required name' placeholder='{{{customize.email.placeholder.recipient_name}}}'>
												</div>
												<div class='field-detail'> {{{customize.email.detail.recipient_name}}} </div>
											</div>
										</div>
										{{! <!-- Recipiente name field end --> }}

										{{! <!-- Recipiente email field --> }}
										<div class='field'>
											{{! <!-- validation-warning --> }}
											<div class='field-left bp-custom-label-width'>
												<div>
													<label for='email_recipient_email'> {{{customize.email.label.recipient_email}}} </label>
												</div>
												<div class='field-error'></div>
											</div>
											<div class='field-right'>
												<div class='input-holder'>
													<input type='text' name='email_recipient_email' id='email_recipient_email' class='required email' placeholder='{{{customize.email.placeholder.recipient_email}}}'>
												</div>
												<div class='field-detail'> {{{customize.email.detail.recipient_email}}} </div>
											</div>
										</div>
										{{! <!-- Recipiente email field end --> }}

										{{! <!-- From name field --> }}
										<div class='field'>
											<div class='field-left bp-custom-label-width'>
												<div>
													<label for='email_from_name'> {{{customize.email.label.from_name}}} </label>
												</div>
												<div class='field-error'></div>
											</div>
											<div class='field-right'>
												<div class='input-holder'>
													<input type='text' name='name' id='email_from_name' class='optional sname name' placeholder='{{{customize.email.placeholder.from_name}}}'>
												</div>
												{{! <!-- Name not required. If empty use the purchaser's Name --> }}
												<div class='field-detail'> {{{customize.email.detail.from_name}}} </div>
											</div>
										</div>
										{{! <!-- From name field end --> }}

										{{! <!-- Delivery date field --> }}
										<div class='field  absolute-z'>
											<div class='field-left bp-custom-label-width'>
												<div>
													<label for='email_delivery_date'> {{{customize.email.label.delivery_date}}} </label>
												</div>
												<div class='field-error'></div>
											</div>
											<div class='field-right'>
												<div class='input-holder'>
													<input type='text' name='email_delivery_date' id='email_delivery_date' class='required date no-tab' placeholder='{{{customize.email.placeholder.delivery_date}}}'>
												</div>
												<div class='field-detail'> {{{customize.email.detail.delivery_date}}} </div>
											</div>
										</div>
										{{! <!-- Delivery date field end --> }}

									</li>
									{{! <!-- Email delivery end --> }}

									{{! <!-- Print at home delivery --> }}
									<li id='dc-print' data-dnature='electronic'>
										<h5>{{{customize.print.text.page-heading}}}</h5>
										<p> {{{customize.print.text.page_info}}} </p>

										{{! <!-- Recipiente name field --> }}
										<div class='field'>
											<div class='field-left bp-custom-label-width'>
												<div>
													<label for='print_recipient_name'> {{{customize.print.label.recipient_name}}} </label>
												</div>
												<div class='field-error'></div>
											</div>
											<div class='field-right'>
												<div class='input-holder'>
													<input type='text' name='print_recipient_name' id='print_recipient_name' class='required name' placeholder='{{{customize.print.placeholder.recipient_name}}}'>
												</div>
												<div class='field-detail'> {{{customize.print.detail.recipient_name}}} </div>
											</div>
										</div>
										{{! <!-- Recipiente name field end --> }}

										{{! <!-- From name field --> }}
										<div class='field'>
											<div class='field-left bp-custom-label-width'>
												<div>
													<label for='print_from_name'> {{{customize.print.label.from_name}}} </label>
												</div>
												<div class='field-error'></div>
											</div>
											<div class='field-right'>
												<div class='input-holder'>
													{{! <!-- Optional: No required class. jQuery to add (optional) to the label? --> }}
													<input type='text' name='name' id='print_from_name' class='optional sname name' placeholder='{{{customize.print.placeholder.from_name}}}'>
												</div>
												{{! <!-- Name not required. If empty use the purchaser's Name --> }}
												<div class='field-detail'> {{{customize.print.detail.from_name}}} </div>
											</div>
										</div>
										{{! <!-- From name field end --> }}

										{{! <!-- Recipiente email field --> }}
										<div class='field'>
											<div class='field-left bp-custom-label-width'>
												<div>
													<label for='print_recipient_email'> {{{customize.print.label.from_email}}} </label>
												</div>
												<div class='field-error'></div>
											</div>
											<div class='field-right'>
												<div class='input-holder'>
													{{! <!-- Optional: No required class. jQuery to add (optional) to the label? --> }}
													<input type='text' name='print_recipient_email' id='print_recipient_email' class='required email semail' placeholder='{{{customize.print.placeholder.from_email}}}'>
												</div>
												{{! <!-- Email not required. If empty use the purchaser's email --> }}
												<div class='field-detail'> {{{customize.print.detail.from_email}}} </div>
											</div>
										</div>
										{{! <!-- Recipiente email field end --> }}


									</li>
									{{! <!-- Print at home delivery end --> }}

									{{! <!-- Facebook delivery --> }}
									<li id='dc-facebook' data-dnature='electronic'>
										<p> {{{customize.facebook.text.page_info}}} </p>

									</li>
									{{! <!-- Facebook delivery end --> }}

									{{! <!-- sms delivery --> }}
									<li id='dc-sms' data-dnature='electronic'>
										<p> {{{customize.sms.text.page_info}}} </p>

									</li>
									{{! <!-- sms delivery end --> }}
								</ul>	
								{{! <!-- Delivery type content end --> }}

							{{! <!-- Pages Navigation --> }}
							<div class="pages-nav">
								<div class='group-error'></div>

								<div class="back-btn-bground">
									<a href="javascript:void(0)" data-step='customize' class='button back-button back-to-card'>
										<span>{{{customize.text.back_to_card}}}</span>
									</a>
								</div>

								<a href="javascript:void(0)" data-step='summary' class='button add-to-cart no-tab'>
									<span>{{{customize.text.add_to_cart_bt}}}</span>
								</a>

								<a href="javascript:void(0)" data-step='receipt' class='button update-cart'>
									<span>{{{customize.text.update_cart_bt}}}</span>
								</a>

							</div>
							
							{{! <!-- Pages Navigation end --> }}
						</li>
						{{! <!-- Delivery info end --> }}

					</ul>
					{{! <!-- Fields end --> }}


				</li>
				{{! <!-- Page 1 end --> }}

				{{!<!-- Page Cart end --> }}
				<li id='page-cart' class="bp-custom-page-cart" data-step='step2'>
					
					<ul class="fields">
						
						{{! <!-- Cart --> }}
						<li id='cart' class="bp-custom-cart-width">


							<div class="no-border bp-custom-cart-width"> {{! <!-- START OF BP CUSTOM FIELD WRAPPER -- > }}	

								<div class="cart-page-headings"><h3> {{{cart.text.title}}} </h3></div>
								<div class="cart-page-headings ph2"><h3> {{{cart.text.rcpt-name}}} </h3></div>
								<div class="cart-page-headings"><h3> {{{cart.text.amount}}} </h3></div>
								<div class="cart-page-headings ph4"><h3> {{{cart.text.delete}}} </h3></div>



								<button class="ew-arrow ew-arrow-up" data-direction='up'></button>

								<div id="cards-wrapper">

									{{! <!-- Cards --> }}
									<ul id="cards"></ul>
									{{! <!-- Cards end --> }}

								</div>

								<button class="ew-arrow ew-arrow-down" data-direction='down'></button>

								{{! <!-- Summary here --> }}
								<div id="summary">
									{{{cart.text.empty}}}
								</div>
								{{! <!-- Summary ends --> }}

							</div> {{! <!-- END OF BP CUSTOM FIELD WRAPPER --> }}

							{{! <!-- Buttons --> }}
							<div id="control">
								<a href="javascript:void(0)" onclick='AddMoreCards()' data-step='customize' class='button new-card2'><span>{{{cart.text.new_card}}}</span></a>
								<a href="javascript:void(0)" data-step='checkout' class='button main-button checkout no-tab'><span>{{{cart.text.checkout}}}</span></a>
							</div>
							{{! <!-- Buttons end --> }}

						</li>
						{{! <!-- Cart end --> }}

					</ul>		
				</li>
				{{! <!-- Page 2 (checkout) --> }}
				<li id='checkout'  data-step='step3'>
					{{! <!-- Fields --> }}
					<ul class='fields'>
						{{! <!-- CC info --> }}
						<li id='purchaser-info' class='tab-group'>

							{{! <!-- Double field -- > }}
							<div class="double-field"> 

								<h3> {{{checkout.text.card_info}}} </h3>
								{{! <!-- CC type --> }}

								<ul id="cc-type-selector">
									<li class='visa'></li>
									<li class='mastercard'></li>
									<li class='amex'></li>
								</ul>
								<input type="hidden" name='cc_type' id='cc_type' value='visa'>
								{{! <!-- CC type end --> }}

								{{! <!-- CC number --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_number'> {{{checkout.label.cc_number}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='number' id='cc_number' class='required number creditcard' placeholder='{{{checkout.placeholder.cc_number}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_number}}} </div>
									</div>
								</div>
								{{! <!-- cc number end --> }}

								{{! <!-- Name on cc --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_name'> {{{checkout.label.cc_name}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='nameoncard' id='cc_name' class='required name' placeholder='{{{checkout.placeholder.cc_name}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_name}}} </div>
									</div>
								</div>
								{{! <!-- Name on cc end --> }}

								{{! <!-- Expiration date --> }}
								<div class='field absolute-z'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_expiration'> {{{checkout.label.cc_expiration}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='cc_expiration' id='cc_expiration' class='required expdate' placeholder='{{{checkout.placeholder.cc_expiration}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_expiration}}} </div>
									</div>
								</div>
								{{! <!-- Expiration date end --> }}

								{{! <!-- CVD --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_cvd'> {{{checkout.label.cc_cvd}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='verification' id='cc_cvd' class='number optional' placeholder='{{{checkout.placeholder.cc_cvd}}}'>
										</div>
										<div class='field-detail'>
											<a href="javascript:void(0)" id='cvd-a' onclick="{{{checkout.detail.cvd_url}}}" >
												{{{checkout.detail.cc_cvd}}} 
											</a> 
										</div>
									</div>
								</div>
								{{! <!-- CVD end --> }}

								{{! <!-- phone --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_phone'> {{{checkout.label.cc_phone}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='phone' id='cc_phone' class='required phone' placeholder='{{{checkout.placeholder.cc_phone}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_phone}}} </div>
									</div>
								</div>
								{{! <!-- phone end --> }}

								{{! <!-- email --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_email'> {{{checkout.label.cc_email}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='email' id='cc_email' class='required email' placeholder='{{{checkout.placeholder.cc_email}}}'>
										</div>
										<div class='field-detail'>{{{checkout.detail.cc_email}}}</div>
									</div>
								</div>
								{{! <!-- email end --> }}
							</div> 
							{{! <!-- Double field end --> }}

							{{! <!-- Double field -- > }}
							<div class="double-field"> 

								<h3 class='df-right'> {{{checkout.text.billing_info}}} </h3>
								{{! <!-- Address --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_address'> {{{checkout.label.cc_address}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='address1' id='cc_address' class='required' placeholder='{{{checkout.placeholder.cc_address}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_address}}} </div>
									</div>
								</div>
								{{! <!-- Address end --> }}

								{{! <!-- Address2 --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_address2'> {{{checkout.label.cc_address2}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
																					<input type='text' name='address2' id='cc_address2' class='optional add2 addressline' data-address='cc_address' placeholder='{{{checkout.placeholder.cc_address2}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_address2}}} </div>
									</div>
								</div>
								{{! <!-- Address2 end --> }}

								{{! <!-- city --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_city'> {{{checkout.label.cc_city}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='city' id='cc_city' class='required name' placeholder='{{{checkout.placeholder.cc_city}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_city}}} </div>
									</div>
								</div>
								{{! <!-- city end --> }}

								{{! <!-- country --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_country'> {{{checkout.label.cc_country}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<select name='country' id='cc_country' class='required' id="cc_country">

											</select>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_country}}} </div>
									</div>
								</div>
								{{! <!-- country end --> }}

								{{! <!-- state --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_state'> {{{checkout.label.cc_state}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<select name='cc_state' id='cc_state' class='required' id="cc_state">
												{{! <!-- <option selected="selected" value="0">   Select One   </option> --> }}
												<option value="52">Alberta</option>
												<option value="53">British Columbia</option>
												<option value="54">Manitoba</option>
												<option value="55">New Brunswick</option>
												<option value="56">Newfoundland</option>
												<option value="81">Northwest Territories</option>
												<option value="57">Nova Scotia</option>
												<option value="82">Nunavut</option>
												<option value="58">Ontario</option>
												<option value="59">Prince Edward Island</option>
												<option value="60">Quebec</option>
												<option value="61">Saskatchewan</option>
												<option value="83">Yukon</option> 
											</select>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_state}}} </div>
									</div>
								</div>
								{{! <!-- state date end --> }}

								{{! <!-- zip --> }}
								<div class='field'>
									<div class='field-left bp-custom-label-width'>
										<div>
											<label for='cc_zip'> {{{checkout.label.cc_zip}}} </label>
										</div>
										<div class='field-error'></div>
									</div>
									<div class='field-right'>
										<div class='input-holder'>
											<input type='text' name='zip' id='cc_zip' class='required zip zipca' placeholder='{{{checkout.placeholder.cc_zip}}}'>
										</div>
										<div class='field-detail'> {{{checkout.detail.cc_zip}}} </div>
									</div>
								</div>
								{{! <!-- zip end --> }}

							</div> 
							{{! <!-- Double field end --> }}

								{{! <!-- Terms --> }}
								<div class='terms-field'>
									<input type='checkbox' name='cc_terms' id='cc_terms' class='required check'>
									<label for='cc_terms'> {{{checkout.label.cc_terms}}} </label>
									<div class='field-detail visible'>
										<a id='terms-a' class='tip' href="javascript:void(0)" onclick="{{{checkout.detail.terms_url}}}" target="_blank">
											{{{checkout.detail.cc_terms}}}
										</a>
									</div>
									<div class='field-error'></div>
								</div>
								{{! <!-- Terms end --> }}
							
							{{! <!-- Pages Navigation --> }}
							<div class="pages-nav checkout-nav">
								<div class='group-error'></div>
								<a href="javascript:void(0)" data-step='summary' class='button back-button back-to-cart'>
									<span>{{{checkout.text.back_to_cart}}}</span>
								</a>

								<a href="javascript:void(0)" class='main-button button purchase'>
									<span>{{{checkout.text.pay_bt}}}</span>
								</a>

								{{!-- <img id='verisign' alt='Click to Verify - This site has chosen an SSL Certificate to improve Web site security' src='view/template/default/images/getseal.gif'/> --}}

							</div>
							{{! <!-- Pages Navigation end --> }}

						</li>
						{{! <!-- CC info end --> }}

					</ul>
					{{! <!-- Fields end --> }}

				</li>
				{{! <!-- Page 2 end --> }}
			</ul>


		</div>
		{{! <!-- Pages Wrapper end --> }}

		{{! <!-- Embed Cart --> }}
		<div id='cart-embed'></div>
		{{! <!-- Embed Cart end --> }}

	</div>
	{{! <!-- Content end --> }}

	{{! <!-- Footer --> }}
	<footer>
		<span>{{{footer.text.customer_support}}}</span> 
		<span id="contact-number"></span>
		<p>
			<span>{{{footer.text.buyatab_rights}}}</span>
		</p>
	</footer>
	{{! <!-- Footer end --> }}
	{{! </div> }}
	{{! <!-- Wrapper end --> }}

	<input type="hidden" id='value-type' value='buttons'>
	<input type="hidden" id='cart-scroll' value='2'>
	<input type="hidden" id='before-step' value=''>
	<input type="hidden" id='image-wrap' value='div#card-selector'>
	<input type="hidden" id='image-wrap-width' value='443'>
	<input type="hidden" id='bp-steps' value='customize'>
	<input type="hidden" id='ctl00_txtBPRelaySteps' value='customize'>
</div>


