<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="margin: 0; padding: 0; background-color: #f2f2f2;">	
	<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f2f2f2" align="center" style="padding: 20px 0 40px;">
		<tr>
			<td>				
				<table width="640" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;">
					<tr>
						<td align="right" height="30" valign="top">
							<div style="font-size:11px;">
								<a href="{{card_url}}" target="_blank" style="font-family: Arial, Verdana, sans-serif; font-size: 11px; text-decoration: underline; color: #777777; white-space: nowrap;">
									<span>your card</span>
								</a> 
								&nbsp; &nbsp; | &nbsp; &nbsp;
								<a href="mailto:info@buyatab.com?Subject=Gift%20card" target="_blank" style="font-family: Arial, Verdana, sans-serif; font-size: 11px; text-decoration: underline; color: #777777; white-space: nowrap;">
									<span>support</span>
								</a> 
								&nbsp; &nbsp; | &nbsp; &nbsp;   
								<a href="{{merchant_url}}" target="_blank" style="font-family: Arial, Verdana, sans-serif; font-size: 11px; text-decoration: underline; color: #777777; white-space: nowrap;">
									<span>buy a gift card</span>
								</a> 
							</div>
						</td>
					</tr>
				</table>
				<table width="700" bgcolor="#ffffff" cellspacing="0" cellpadding="0" border="0" align="center" style="background-color: #ffffff;">
					<tr>
						<td width="700" height="1" valign="bottom" colspan="5" bgcolor="#d7d7d7" style="background-color: #d7d7d7;font-size:1px; line-height:1px;">&nbsp;</td>
					</tr>
					<tr>
						<td width="1" bgcolor="#d7d7d7" height="30" style="background-color: #d7d7d7;">&#13;</td>
						<td width="698" colspan="3" height="30">&#13;</td>
						<td width="1" bgcolor="#d7d7d7" height="30" style="background-color: #d7d7d7;">&#13;</td>
					</tr>
					<tr>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="598" height="20">
							<h2 style="font-family: Arial, Verdana, sans-serif; color: #444444; font-size: 18px; font-weight: normal;">Hello {{recipient_name}},</h2>
						</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
					</tr>
					<tr>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="598" height="20">
							<table>
								<tr height="130">
									<td width="170" align="center">
										<a href="{{card_url}}"><img src="http://dev.buyatab.com/gcp/view/email/images/gift_card.jpg" alt="" style="display: block; border: none;" /></a>
									</td>
									<td>
										<h1 style="font-family: Arial, Verdana, sans-serif; color: #444444; font-size: 32px; font-weight: normal; margin-bottom: 0; margin-left: 20px;">You've received a Gift Card</h1>
										<h3 style="font-family: Arial, Verdana, sans-serif; color: #999999; font-size: 18px; font-weight: normal; margin-top: 0; margin-left: 20px;"><strong style="color:#444444; font-size: 18px; font-weight: normal; ">{{purchaser_name}}</strong> sent you a card for <a href="{{merchant_url}}" style="font-family: Arial, Verdana, sans-serif; font-size: 18px; text-decoration: none; color: #ff6600; white-space: nowrap;">{{merchant_name}}</a></h3>
									</td>
								</tr>
							</table>
						</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
					</tr>
					<tr>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="598">
							<p style="margin-bottom: 14px; font-family: Arial, Verdana, sans-serif; font-size: 14px; color: #444444;">To use your eGift Card for payment, simply present a printed copy or display it on your mobile device.</p>
							<p style="margin-bottom: 14px; font-family: Arial, Verdana, sans-serif; font-size: 14px; color: #444444;">Please click on the button below to view your eGift Card.</p>
							<p style="margin-bottom: 14px; font-family: Arial, Verdana, sans-serif; font-size: 14px; color: #444444;">If you have any questions or require further assistance viewing your eGift Card, please e-mail us at <a href="mailto:info@buyatab.com?Subject=Gift%20card" target="_blank" style="font-family: Arial, Verdana, sans-serif; font-size: 14px; text-decoration: none; color: #ff6600; white-space: nowrap;"> info@buyatab.com </a> and include your reference number: <strong>{{reference_number}}</strong>.</p>
						</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
					</tr>
					<tr>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="598" align="center">
							<a href="{{card_url}}" style="font-family: Arial, Verdana, sans-serif; font-size: 14px; text-decoration: none; color: #ff6600; white-space: nowrap;">
								<img src="http://dev.buyatab.com/gcp/view/email/images/see_card.jpg" alt="See your eGift Card" style="display: block; border: none;" />
							</a>
						</td>
						<td width="50" bgcolor="#ffffff" style="background-color: #ffffff;">&#13;</td>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
					</tr>
					<tr>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
						<td width="698" colspan="3" height="40">&#13;</td>
						<td width="1" bgcolor="#d7d7d7" style="background-color: #d7d7d7;">&#13;</td>
					</tr>
					<tr>
						<td width="700" height="1" valign="bottom" colspan="5" bgcolor="#d7d7d7" style="background-color: #d7d7d7;font-size:1px; line-height:1px;">&nbsp;</td>
					</tr>
				</table>
				<table width="660" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 0 auto;">
					<tr>
						<td>
							<p style="margin-top: 10px; margin-bottom: 0px; font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #777777;">
								If you have any trouble viewing your eGift Card please copy and paste the following link into your browser address bar:
								</br>
							<a href="{{card_url}}" target="_blank" style="font-family: Arial, Verdana, sans-serif; font-size: 11px; text-decoration: none; color: #ff6600; white-space: nowrap;">
								<span>{{card_url}}</span>
							</a>
							</p>
							<p style="margin-top: 10px; margin-bottom: 0px; font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #777777;">
								Forwarding this e-mail to others will compromise the security of your eGift Card and may lead to the cancellation of your eGift Card. By clicking to view your eGift Card you accept the terms and conditions that apply. To review our terms and conditions before viewing your eGift Card <a href="http://www.buyatab.com/Terms_Privacy.aspx?Type=Terms" target="_blank" style="font-family: Arial, Verdana, sans-serif; font-size: 11px; text-decoration: none; color: #ff6600; white-space: nowrap;">
								<span>click here</span></a>.
							</p>

							<p style="margin-top: 10px; margin-bottom: 0px; font-family: Arial, Verdana, sans-serif; font-size: 11px; color: #777777;">
								TM and copyright ® {{year}} Buyatab All Rights Reserved
							</p>
					</td>
				</tr>
				<tr align="right">
					<td>
						<a href="https://www.buyatab.com" style="font-family: Arial, Verdana, sans-serif; font-size: 11px; text-decoration: none; color: #ff6600; white-space: nowrap;">
							<img src="http://dev.buyatab.com/gcp/view/email/images/logo.jpg" alt="Powered by Buyatab" style="display: block; border: none;" />
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
