<h1>Confirmation</h1>
<div id="wrapper" class='receipt'>
	<img src="images/watermark.png" id='watermark'>
	<header>
		<div id='sub-title'>
			<div class="sub-left">
				<h2>Sold to:</h2>
				<div>
					<span>{{{ PurchaserName }}}</span>
					{{#unlessCond PaymentMethod "Prepaid"}}
						<span>{{{ AddressLine1 }}}</span>
						<span>{{{ AddressLine2 }}}</span>
					{{/unlessCond}}
					<span>{{{ PurchaserEmail }}}</span>					
				</div>
			</div>
			<div class="sub-right">
				<h2>Order ID</h2>
				<div class='bold'> #{{{ OrderNumber }}} </div>
			</div>
		</div>		
	</header>

	<div id="items">
		<h2>Products purchased</h2>
		<div id="items-wrap">
			<ul id="items-detail">
				<li>
					<div class="list-header">Item</div>
					<div class="list-header">Item description</div>
					<div class="list-header">Unit Price</div>
					<div class="list-header">QTY.</div>
					<div class="list-header">Extended</div>
				</li>
				{{#each Cards}}
					<li>
						<div class="list-item"> e-Gift </div>
						<div class="list-item">Four Seasons e-Gift ( Card ID#: {{{ Id }}} )</div>
						<div class="list-item">{{#if Amount}}{{ curr ../../Language Amount }}{{/if}}</div>
						<div class="list-item">{{{ Quantity }}} </div>
						<div class="list-item">{{#if Amount}}{{ extended ../../Language this }}{{/if}}</div>

					</li>
				{{/each}}
			</ul>

			<div id="summary">
				<div id="sub-summary">
					<div class="subtotal">
						<span class='ta-right'>Shipping amount</span>
						<span class="value">{{shipping this}}</span>
					</div>

					<div class="subtotal">
						<span class='ta-right'>Subtotal</span>
						<span class="value">{{sub this}}</span>
					</div>

					{{#if AddCharge }}
					<div class="subtotal">
						<span class='ta-right'>Aditional</span>
						<span class="value">{{ curr this.Language AddCharge }}</span>
					</div>
					{{/if}}

					{{#if DiscountAmount }}
					<div class="subtotal">
						<span class='ta-right'>Discount</span>
						<span class="value">{{curr this.Language DiscountAmount }}</span>    
					</div>
					{{/if}}
				</div>	
				<div id="total-summary">
					<div class="total">
						<span class='ta-right'>Total</span>
						{{#ifCond PaymentMethod "Prepaid" }}
							<span class="value">{{{ curr_zero this.Language }}}</span>
						{{ else}}
							<span class="value">{{{total this}}}</span>
						{{/ifCond}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div id='sub-footer'>
			<div class="sub-left">
				<div>
					<div><span class='bold'>Deliver method: </span>Email</div>
					<div><span class='bold'>Date: </span>{{{ Date }}}</div>
				</div>
			</div>
			<div class="sub-center">
				<div>
					<div><span class='bold'>Cardholder: </span>{{{ NameOnCard }}}</div>
					<div><span class='bold'>Payment method: </span>{{{ PaymentMethod }}}</div>
					<div><span class='bold'>Card number: </span>{{{ CardNumber }}}</div>
				</div>
			</div>
			<div class="sub-right">
				{{#if Date }}
				{{/if}}
				<div>
					{{#ifCond PaymentMethod "Prepaid" }}
						<span class='bold'>Total amount paid: </span>{{{ curr_zero this.Language }}}
					{{ else}}
						<span class='bold'>Total amount paid: </span>{{{total this}}}
					{{/ifCond}}
				</div>
			</div>
		</div>	
	</footer>

</div>

<div class="pages-nav nav-receipt">
	<a href="javascript:window.print()" class='button main-button continue-button no-icon'>
		<span>Print</span>
	</a>
</div>